.confession3-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.confession3-confession {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(232, 243, 241, 1);
}
 
.confession3-text1 {
  top: 160px;
  left: 436px;
  color: rgba(0, 56, 55, 1);
  height: auto;
  position: absolute;
  font-size: 100px;
  font-style: Bold;
  text-align: right;
  font-family: Poppins;
  font-weight: 700;
  line-height: 100px;
  font-stretch: normal;
  text-decoration: none;
}
 
.confession3-group4 {
  top: 512px;
  left: 497px;
  width: 446px;
  height: 166px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.confession3-rectangle2 {
  top: 0px;
  left: 0px;
  width: 446px;
  height: 157px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
 
.confession3-text5 {
  top: 37px;
  left: 42px;
  color: rgba(232, 243, 241, 1);
  width: 361px;
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.confession3-roundedrectangle {
  top: 824px;
  left: 671px;
  width: 96px;
  height: 37px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
 
.confession3-text6 {
  top: 830px;
  left: 639px;
  color: rgba(232, 243, 241, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.confession3-text7 {
  top: 102px;
  left: 479px;
  color: rgba(189, 0, 98, 1);
  height: auto;
  position: absolute;
  font-size: 150px;
  font-style: Regular;
  text-align: center;
  font-family: Birthstone;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.confession3-text8 {
  top: 701px;
  left: 529px;
  color: rgba(189, 0, 98, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 100px;
  font-stretch: normal;
  text-decoration: none;
}
 
.confession3-link {
  display: contents;
}
 
.confession3-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.confession3-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.confession3-text9 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
