.letter-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.letter-letter {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(134, 206, 203, 1);
}
 
.letter-untitled13202508290918541 {
  top: 340px;
  left: 376px;
  width: 688px;
  height: 595px;
  position: absolute;
}
 
.letter-group10 {
  top: 70px;
  left: 250px;
  width: 941px;
  height: 158px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.letter-text1 {
  top: 69px;
  color: rgba(189, 0, 98, 1);
  width: 591px;
  height: auto;
  position: absolute;
  font-size: 120px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 110px;
  font-stretch: normal;
  text-decoration: none;
}
 
.letter-text2 {
  left: 601px;
  color: rgba(0, 56, 55, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 175px;
  font-style: Regular;
  text-align: center;
  font-family: Birthstone;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.letter-link {
  display: contents;
}
 
.letter-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.letter-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.letter-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
