.letter2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.letter2-letter {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(134, 206, 203, 1);
}
 
.letter2-rectangle15 {
  top: 111px;
  left: 332px;
  width: 776px;
  height: 913px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 56, 55, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 30px 30px 0 0;
}
 
.letter2-text10 {
  top: 145px;
  left: 405px;
  color: rgba(189, 0, 98, 1);
  width: 776px;
  height: auto;
  position: absolute;
  font-size: 85px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Birthstone;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.letter2-text11 {
  top: 286px;
  left: 396px;
  color: rgba(0, 56, 55, 1);
  width: 647px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.letter2-link {
  display: contents;
}
 
.letter2-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.letter2-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.letter2-text24 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
