.letter3-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.letter3-letter {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(134, 206, 203, 1);
}
 
.letter3-rectangle15 {
  top: -15px;
  left: 332px;
  width: 776px;
  height: 807px;
  position: absolute;
  border-color: rgba(0, 56, 55, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 0 0 30px 30px;
}
 
.letter3-group5 {
  top: 685px;
  left: 566px;
  width: 307px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 56, 55, 1);
}
 
.letter3-text1 {
  top: 6px;
  left: 60px;
  color: rgba(232, 243, 241, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.letter3-image10 {
  top: 0px;
  left: 400px;
  width: 645px;
  height: 647px;
  position: absolute;
}
 
.letter3-link {
  display: contents;
}
 
.letter3-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.letter3-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.letter3-text2 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
